
.app-container{
  width: 400px;
  height: 400px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 50px);
}

button {
  height: 50px;
  background: white;
  border: 1px solid lightgray;
}

button.operator {
  background-color: gray;
}

.display{
  display: grid;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 40px;
  font-size: 30px;
  text-align: right;
  padding:5px 10px;
  border: 1px solid black;
}
